<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDevalayaService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:58666/DevalayaService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDevalayaService"
                contract="DevalayaService.IDevalayaService" name="BasicHttpBinding_IDevalayaService" />
        </client>
    </system.serviceModel>
</configuration>